/* NAV BAR*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
    min-height: 100vh;
    background: url("../static/img/fondo1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif

  }
  
  .main-container {
    margin: 150px auto;
    width: 80%; /* Ajusta el ancho según sea necesario */
  }
  .table{
    margin: 1em 0;
    min-width: 300px;
  }
  
  table {
    background-color: #fff; /* Fondo blanco */
    text-align: center;
    width: 100%;
  }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ddd; /* Agrega bordes para mejor separación */
  }
  
  thead {
    background-color: #333; /* Encabezado gris oscuro */
    color: #fff;
    font-weight: bold;
  }
  
  /* Agrega consultas de medios para diseño responsivo */
  @media (max-width: 768px) {
    .main-container {
      width: 100%;
    }
  }

  h1{
    text-align: center;
  }

