<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <title>productos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <style>
    body{
      background-color: rgb(126, 146, 142);
    }
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
    img {
      width: 50px;
      height: 50px;
      align-items: center;
    }
    button{
      align-items: center;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" ><img src="img/logo X.png" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/productos">Tabla de productos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Nuevo" target="_blank">Nuevo Producto</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <h1>HOLA QUE TAL</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, facere tempore deserunt at soluta impedit suscipit
    nulla quam eos veniam nesciunt expedita sed eaque autem alias sit architecto? Quas, similique.</p>
    
    <button><a href="/productos">ir a tablas</a></button>
    



</body>

</html>