<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <title>productos</title>
  <style>
    body{
      background-color: rgb(26, 199, 199);
    }
  </style>

</head>

<body>
  <h1>HOLA QUE TAL</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, facere tempore deserunt at soluta impedit suscipit
    nulla quam eos veniam nesciunt expedita sed eaque autem alias sit architecto? Quas, similique.</p>
    <a href="/productos" target="_blank">ir a tablas</a>



</body>

</html>