<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>
<body>
    <h1>HOLA QUE TAL</h1>
    
    <main>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha de elaboracion</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto : ${listaDeProductos}">
                <td th:text = "${producto.id}"></td>
                <td th:text = "${producto.name}"></td>
                <td th:text = "${producto.brand}"></td>
                <td th:text = "${producto.supplier}"></td>
                <td th:text = "${producto.fechaElb}"></td>
                <td th:text = "${producto.price}"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </main>
    
</body>
</html>