<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head class="header">
  <meta charset="UTF-8">
  <title>productos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <style>
    h1 {
      text-align: center;
    }

    body {
      background-color: rgb(126, 146, 142);
    }

    img {
      width: 50px;
      height: 50px;
      align-items: center;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="img/logo X.png" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/productos">Tabla de productos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Nuevo" target="_blank">Nuevo Producto</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" th:action="@{/buscar}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Name" name="name">
        <input class="form-control mr-sm-2" type="search" placeholder="Brand" aria-label="Brand" name="brand">
        <input class="form-control mr-sm-2" type="search" placeholder="Supplier" aria-label="Supplier" name="supplier">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </nav>
  <br>


  <div class="container text-center">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Fecha de elaboracion</th>
          <th scope="col">Precio</th>
          <th scope="col">Acción</th>
          
        </tr>
      </thead>
      <tbody>
        <tr th:each="producto:${productoss}">
          <td th:text="${producto.id}"></td>
          <td th:text="${producto.name}"></td>
          <td th:text="${producto.brand}"></td>
          <td th:text="${producto.supplier}"></td>
          <td th:text="${producto.fechaElb}"></td>
          <td th:text="${producto.price}"></td>
          <td>
              <a class="btn btn-primary" th:href="@{'/editar/' + ${producto.id}}">Editar</a>
              &nbsp;
              <a class="btn btn-danger" th:href="@{'/eliminar/' + ${producto.id}}">Eliminar</a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>


</body>

</html>