<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head class="header">
    <meta charset="UTF-8">
    <title>productos</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
  <head class="header">
    <a href="#" class="logo">Logo</a>
    
    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">Tabla</a>
      <a href="#">Galerio</a>
      <a href="#">Contacto</a>
      <a href="#">Vista</a>

    </nav>
  </head>
    
    
      <div class="main-container">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha de elaboracion</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto:${productoss}">
                <td th:text="${producto.id}"></td>
                <td th:text = "${producto.name}"></td>
                <td th:text = "${producto.brand}"></td>
                <td th:text = "${producto.supplier}"></td>
                <td th:text = "${producto.fechaElb}"></td>
                <td th:text = "${producto.price}"></td>
                
              </tr>
            </tbody>
          </table>
        </div>
    
    
</body>
</html>